In [1]:
from pipeline import Pipeline
pipeline = Pipeline

In [2]:
import pandas as pd
df = pd.read_json('hn_stories_2014.json')
df

                                                  stories
0       {'story_text': '', 'created_at': '2014-05-29T0...
1       {'story_text': '', 'created_at': '2014-05-29T0...
2       {'story_text': '', 'created_at': '2014-05-29T0...
3       {'story_text': '', 'created_at': '2014-05-29T0...
4       {'story_text': '', 'created_at': '2014-05-29T0...
...                                                   ...
107499  {'story_text': 'Judging from the numerous othe...
107500  {'story_text': None, 'created_at': '2014-01-01...
107501  {'story_text': 'https:&#x2F;&#x2F;fundraising....
107502  {'story_text': None, 'created_at': '2014-01-01...
107503  {'story_text': '', 'created_at': '2014-01-01T0...

[107504 rows x 1 columns]

In [3]:
#print(df.to_string())

In [4]:
df['stories']

0         {'story_text': '', 'created_at': '2014-05-29T0...
1         {'story_text': '', 'created_at': '2014-05-29T0...
2         {'story_text': '', 'created_at': '2014-05-29T0...
3         {'story_text': '', 'created_at': '2014-05-29T0...
4         {'story_text': '', 'created_at': '2014-05-29T0...
                                ...
107499    {'story_text': 'Judging from the numerous othe...
107500    {'story_text': None, 'created_at': '2014-01-01...
107501    {'story_text': 'https:&#x2F;&#x2F;fundraising....
107502    {'story_text': None, 'created_at': '2014-01-01...
107503    {'story_text': '', 'created_at': '2014-01-01T0...
Name: stories, Length: 107504, dtype: object

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107504 entries, 0 to 107503
Data columns (total 1 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   stories  107504 non-null  object
dtypes: object(1)
memory usage: 840.0+ KB

In [6]:
#df.describe()

In [7]:
df.memory_usage()

Index         128
stories    860032
dtype: int64

In [8]:
df.head()

                                             stories
0  {'story_text': '', 'created_at': '2014-05-29T0...
1  {'story_text': '', 'created_at': '2014-05-29T0...
2  {'story_text': '', 'created_at': '2014-05-29T0...
3  {'story_text': '', 'created_at': '2014-05-29T0...
4  {'story_text': '', 'created_at': '2014-05-29T0...

In [9]:
df.dtypes

stories    object
dtype: object

In [10]:
#import json
#json_dict = json.load('hn_stories_2014.json')

In [88]:
import json
  
# Opening JSON file
f = open('hn_stories_2014.json',)
  
# returns JSON object as 
# a dictionary
data = json.load(f)
df=pd.json_normalize(data, record_path=['stories'])
  
# Iterating through the json
# list
#for i in data['stories']:
   # print(i)
  
# Closing file
#f.close()

,story_text,created_at,story_title,story_id,comment_text,created_at_i,url,parent_id,objectID,author,points,title,_tags,num_comments,story_url,_highlightResult.story_text.matchedWords,_highlightResult.story_text.value,_highlightResult.story_text.matchLevel,_highlightResult.author.matchedWords,_highlightResult.author.value,_highlightResult.author.matchLevel,_highlightResult.url.matchedWords,_highlightResult.url.value,_highlightResult.url.matchLevel,_highlightResult.title.matchedWords,_highlightResult.title.value,_highlightResult.title.matchLevel
0,,2014-05-29T08:25:40Z,None,NaN,None,1401351940,https://duckduckgo.com/settings,NaN,7815290,TuxLyn,1,DuckDuckGo Settings,"[story, author_TuxLyn, story_7815290]",0,None,[],,none,[],TuxLyn,none,[],https://duckduckgo.com/settings,none,[],DuckDuckGo Settings,none
1,,2014-05-29T08:23:46Z,None,NaN,None,1401351826,http://bits.blogs.nytimes.com/2014/05/28/makin...,NaN,7815285,Leynos,1,Making Twitter Easier to Use,"[story, author_Leynos, story_7815285]",0,None,[],,none,[],Leynos,none,[],http://bits.blogs.nytimes.com/2014/05/28/makin...,none,[],Making Twitter Easier to Use,none
2,,2014-05-29T08:21:56Z,None,NaN,None,1401351716,http://www.bbc.co.uk/news/technology-27617079,NaN,7815279,darrhiggs,2,London refers Uber app row to High Court,"[story, author_darrhiggs, story_7815279]",0,None,[],,none,[],darrhiggs,none,[],http://www.bbc.co.uk/news/technology-27617079,none,[],London refers Uber app row to High Court,none
3,,2014-05-29T08:18:42Z,None,NaN,None,1401351522,http://nomination.younggloballeaders.org/nomin...,NaN,7815274,a159482a,1,"Young Global Leaders, who should be nominated...","[story, author_a159482a, story_7815274]",1,None,[],,none,[],a159482a,none,[],http://nomination.younggloballeaders.org/nomin...,none,[],"Young Global Leaders, who should be nominated...",none
4,,2014-05-29T08:17:30Z,None,NaN,None,1401351450,https://blooki.st,NaN,7815273,johngorse,1,Blooki.st goes BETA in a few hours,"[story, author_johngorse, story_7815273]",0,None,[],,none,[],johngorse,none,[],https://blooki.st,none,[],Blooki.st goes BETA in a few hours,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107499,Judging from the numerous other threads it see...,2014-01-01T00:17:03Z,None,NaN,None,1388535423,,NaN,6993561,rectangletangle,8,Ask HN: What would it take for you to switch t...,"[story, author_rectangletangle, story_6993561,...",13,None,[],Judging from the numerous other threads it see...,none,[],rectangletangle,none,[],,none,[],Ask HN: What would it take for you to switch t...,none
107500,None,2014-01-01T00:11:06Z,None,NaN,None,1388535066,http://ghiraldelli.pro.br/jesus-e-eu/,NaN,6993544,maurorm,1,Jesus e eu,"[story, author_maurorm, story_6993544]",0,None,NaN,NaN,NaN,[],maurorm,none,[],http://ghiraldelli.pro.br/jesus-e-eu/,none,[],Jesus e eu,none
107501,https:&#x2F;&#x2F;fundraising.mozilla.org&#x2F;,2014-01-01T00:06:59Z,None,NaN,None,1388534819,,NaN,6993536,yeukhon,1,Mozilla end-of-year fundraising jumps from $75...,"[story, author_yeukhon, story_6993536]",0,None,[],https:&#x2F;&#x2F;fundraising.mozilla.org&#x2F;,none,[],yeukhon,none,[],,none,[],Mozilla end-of-year fundraising jumps from $75...,none
107502,None,2014-01-01T00:04:31Z,None,NaN,None,1388534671,http://blog.standardanalytics.io/post/introduc...,NaN,6993533,matherb,2,Introducing Standard Analytics IO,"[story, author_matherb, story_6993533]",0,None,NaN,NaN,NaN,[],matherb,none,[],http://blog.standardanalytics.io/post/introduc...,none,[],Introducing Standard Analytics IO,none
107503,,2014-01-01T00:01:00Z,None,NaN,None,1388534460,http://twistedoakstudios.com/blog/Post8565_col...,NaN,6993523,Strilanc,1,Collection Equality is Hard,"[story, author_Strilanc, story_6993523]",0,None,[],,none,[],Strilanc,none,[],http://twistedoakstudios.com/blog/Post8565_col...,none,[],Collection Equality is Hard,none

In [12]:
def open_json(url,data_list):
    f = open(url)
    data = json.load(f)
    df=pd.json_normalize(data, record_path=[data_list]) 
    return df

In [13]:
open_json('hn_stories_2014.json', 'stories')

,story_text,created_at,story_title,story_id,comment_text,created_at_i,url,parent_id,objectID,author,...,_highlightResult.story_text.matchLevel,_highlightResult.author.matchedWords,_highlightResult.author.value,_highlightResult.author.matchLevel,_highlightResult.url.matchedWords,_highlightResult.url.value,_highlightResult.url.matchLevel,_highlightResult.title.matchedWords,_highlightResult.title.value,_highlightResult.title.matchLevel
0,,2014-05-29T08:25:40Z,None,NaN,None,1401351940,https://duckduckgo.com/settings,NaN,7815290,TuxLyn,...,none,[],TuxLyn,none,[],https://duckduckgo.com/settings,none,[],DuckDuckGo Settings,none
1,,2014-05-29T08:23:46Z,None,NaN,None,1401351826,http://bits.blogs.nytimes.com/2014/05/28/makin...,NaN,7815285,Leynos,...,none,[],Leynos,none,[],http://bits.blogs.nytimes.com/2014/05/28/makin...,none,[],Making Twitter Easier to Use,none
2,,2014-05-29T08:21:56Z,None,NaN,None,1401351716,http://www.bbc.co.uk/news/technology-27617079,NaN,7815279,darrhiggs,...,none,[],darrhiggs,none,[],http://www.bbc.co.uk/news/technology-27617079,none,[],London refers Uber app row to High Court,none
3,,2014-05-29T08:18:42Z,None,NaN,None,1401351522,http://nomination.younggloballeaders.org/nomin...,NaN,7815274,a159482a,...,none,[],a159482a,none,[],http://nomination.younggloballeaders.org/nomin...,none,[],"Young Global Leaders, who should be nominated...",none
4,,2014-05-29T08:17:30Z,None,NaN,None,1401351450,https://blooki.st,NaN,7815273,johngorse,...,none,[],johngorse,none,[],https://blooki.st,none,[],Blooki.st goes BETA in a few hours,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107499,Judging from the numerous other threads it see...,2014-01-01T00:17:03Z,None,NaN,None,1388535423,,NaN,6993561,rectangletangle,...,none,[],rectangletangle,none,[],,none,[],Ask HN: What would it take for you to switch t...,none
107500,None,2014-01-01T00:11:06Z,None,NaN,None,1388535066,http://ghiraldelli.pro.br/jesus-e-eu/,NaN,6993544,maurorm,...,NaN,[],maurorm,none,[],http://ghiraldelli.pro.br/jesus-e-eu/,none,[],Jesus e eu,none
107501,https:&#x2F;&#x2F;fundraising.mozilla.org&#x2F;,2014-01-01T00:06:59Z,None,NaN,None,1388534819,,NaN,6993536,yeukhon,...,none,[],yeukhon,none,[],,none,[],Mozilla end-of-year fundraising jumps from $75...,none
107502,None,2014-01-01T00:04:31Z,None,NaN,None,1388534671,http://blog.standardanalytics.io/post/introduc...,NaN,6993533,matherb,...,NaN,[],matherb,none,[],http://blog.standardanalytics.io/post/introduc...,none,[],Introducing Standard Analytics IO,none
107503,,2014-01-01T00:01:00Z,None,NaN,None,1388534460,http://twistedoakstudios.com/blog/Post8565_col...,NaN,6993523,Strilanc,...,none,[],Strilanc,none,[],http://twistedoakstudios.com/blog/Post8565_col...,none,[],Collection Equality is Hard,none

In [14]:
df.shape

(107504, 27)

In [15]:
columns=pd.set_option('display.max_columns', None)

In [16]:
df.columns

Index(['story_text', 'created_at', 'story_title', 'story_id', 'comment_text',
       'created_at_i', 'url', 'parent_id', 'objectID', 'author', 'points',
       'title', '_tags', 'num_comments', 'story_url',
       '_highlightResult.story_text.matchedWords',
       '_highlightResult.story_text.value',
       '_highlightResult.story_text.matchLevel',
       '_highlightResult.author.matchedWords', '_highlightResult.author.value',
       '_highlightResult.author.matchLevel',
       '_highlightResult.url.matchedWords', '_highlightResult.url.value',
       '_highlightResult.url.matchLevel',
       '_highlightResult.title.matchedWords', '_highlightResult.title.value',
       '_highlightResult.title.matchLevel'],
      dtype='object')

In [17]:
df['points']

0         1
1         1
2         2
3         1
4         1
         ..
107499    8
107500    1
107501    1
107502    2
107503    1
Name: points, Length: 107504, dtype: int64

In [18]:
df['points'].value_counts

<bound method IndexOpsMixin.value_counts of 0         1
1         1
2         2
3         1
4         1
         ..
107499    8
107500    1
107501    1
107502    2
107503    1
Name: points, Length: 107504, dtype: int64>

In [19]:
df['num_comments']

0          0
1          0
2          0
3          1
4          0
          ..
107499    13
107500     0
107501     0
107502     0
107503     0
Name: num_comments, Length: 107504, dtype: int64

In [20]:
max_points=df['points'] > 50
max_points

0         False
1         False
2         False
3         False
4         False
          ...
107499    False
107500    False
107501    False
107502    False
107503    False
Name: points, Length: 107504, dtype: bool

In [21]:
def max_point(df, col):
    max_points=df[col] > 50
    return max_points

In [22]:
max_point(df, 'points')

0         False
1         False
2         False
3         False
4         False
          ...
107499    False
107500    False
107501    False
107502    False
107503    False
Name: points, Length: 107504, dtype: bool

In [23]:
df.head()

,story_text,created_at,story_title,story_id,comment_text,created_at_i,url,parent_id,objectID,author,points,title,_tags,num_comments,story_url,_highlightResult.story_text.matchedWords,_highlightResult.story_text.value,_highlightResult.story_text.matchLevel,_highlightResult.author.matchedWords,_highlightResult.author.value,_highlightResult.author.matchLevel,_highlightResult.url.matchedWords,_highlightResult.url.value,_highlightResult.url.matchLevel,_highlightResult.title.matchedWords,_highlightResult.title.value,_highlightResult.title.matchLevel
0,,2014-05-29T08:25:40Z,None,NaN,None,1401351940,https://duckduckgo.com/settings,NaN,7815290,TuxLyn,1,DuckDuckGo Settings,"[story, author_TuxLyn, story_7815290]",0,None,[],,none,[],TuxLyn,none,[],https://duckduckgo.com/settings,none,[],DuckDuckGo Settings,none
1,,2014-05-29T08:23:46Z,None,NaN,None,1401351826,http://bits.blogs.nytimes.com/2014/05/28/makin...,NaN,7815285,Leynos,1,Making Twitter Easier to Use,"[story, author_Leynos, story_7815285]",0,None,[],,none,[],Leynos,none,[],http://bits.blogs.nytimes.com/2014/05/28/makin...,none,[],Making Twitter Easier to Use,none
2,,2014-05-29T08:21:56Z,None,NaN,None,1401351716,http://www.bbc.co.uk/news/technology-27617079,NaN,7815279,darrhiggs,2,London refers Uber app row to High Court,"[story, author_darrhiggs, story_7815279]",0,None,[],,none,[],darrhiggs,none,[],http://www.bbc.co.uk/news/technology-27617079,none,[],London refers Uber app row to High Court,none
3,,2014-05-29T08:18:42Z,None,NaN,None,1401351522,http://nomination.younggloballeaders.org/nomin...,NaN,7815274,a159482a,1,"Young Global Leaders, who should be nominated...","[story, author_a159482a, story_7815274]",1,None,[],,none,[],a159482a,none,[],http://nomination.younggloballeaders.org/nomin...,none,[],"Young Global Leaders, who should be nominated...",none
4,,2014-05-29T08:17:30Z,None,NaN,None,1401351450,https://blooki.st,NaN,7815273,johngorse,1,Blooki.st goes BETA in a few hours,"[story, author_johngorse, story_7815273]",0,None,[],,none,[],johngorse,none,[],https://blooki.st,none,[],Blooki.st goes BETA in a few hours,none

In [24]:
df['story_text'].value_counts(dropna=False)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                85101
NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             14171
Please lead with either SEEKING WORK or SEEKING FREELANCER, your location and whether remote work is a possibility.                                                                                                                                                                                                                                                                                                                                                                                                                                                 6
What do you think?                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  5
Developer&#x2F;programmer here.<p>By circumstances I mean: wife and kids, age, skills.<p>I live in Brazil and I really would like to leave this country and definitely live in another place. I don&#x27;t have any preferences for the place right now and I accept suggestions.<p>My main issue on immigrating is to be accepted given my age (37) and family. AFAIK, having an effective job proposal and employer sponsorship is the only way for many countries. Do you know anywhere where people can go on business or as tourist and apply for jobs?        3
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ...
It is very confusing,  because for everything else i.e file sizes the standard is bytes.                                                                                                                                                                                                                                                                                                                                                                                                                                                                            1
I suppose I&#x27;m in a bit of writers block, but for programming.  How do you deal with it?  Take a vacation?  Drink a beer?                                                                                                                                                                                                                                                                                                                                                                                                                                       1
from some random # i don&#x27;t know to my phone: &quot;Happy Birthday! Sorry I&#x27;m not there to enjoy it with you, but we can grab a drink and some other fun goodies when I return&quot;<p>must be spammers, knew my birthday was today, and are trying to trick me into replying?                                                                                                                                                                                                                                                                             1
Anyone ever read this book? Seems that these are the words of wisdom&#x2F;gospel, and I can see them in so many places I&#x27;ve worked.                                                                                                                                                                                                                                                                                                                                                                                                                            1
I screwed up recently and tanked my last 15 years of awesome credit. I am eying a company that needs a down payment. Curious about creative ways of getting (e.g.) $50k                                                                                                                                                                                                                                                                                                                                                                                             1
Name: story_text, Length: 8175, dtype: int64

In [25]:
#THE COLUMNS WE WANT TO USE:
# created_at: A timestamp of the story's creation time.
# created_at_i: A unix epoch timestamp.
# url: The URL of the story link.
# objectID: The ID of the story.
# author: The story's author (username on HN).
# points: The number of upvotes the story had.
# title: The headline of the post.
# num_comments: The number of a comments a post has.

In [26]:
#The plan of action is as follows:  The goal is = We need to find the top 100 keywords of Hacker News posts.
#First we check out the columns to see which ones we logically will need for this.  We will definitely need something with a number, an 
#amount so that is probably the points, we will probably need the comments amount because that obviously indicates popularity, the
#basic info of the story including author, title etc.  We will filter out the points to more than a certain amount to indicate popularity
#then we will see.....

In [27]:
df['created_at']

0         2014-05-29T08:25:40Z
1         2014-05-29T08:23:46Z
2         2014-05-29T08:21:56Z
3         2014-05-29T08:18:42Z
4         2014-05-29T08:17:30Z
                  ...
107499    2014-01-01T00:17:03Z
107500    2014-01-01T00:11:06Z
107501    2014-01-01T00:06:59Z
107502    2014-01-01T00:04:31Z
107503    2014-01-01T00:01:00Z
Name: created_at, Length: 107504, dtype: object

In [28]:
# new_df = df.drop('story_text', axis=1)
# new_df = df.drop('story_title', axis=1)
# new_df = df.drop('story_id', axis=1)
# new_df = df.drop('comment_text', axis=1)
# new_df = df.drop('parent_id', axis=1)

# new_df = df.drop('story_url', axis=1)
# new_df = df.drop('_highlightResult.story_text.value', axis=1)

# new_df = df.drop('_highlightResult.story_text.matchLevel', axis=1)
# new_df = df.drop('_highlightResult.author.matchedWords', axis=1)
# new_df = df.drop('_highlightResult.author.value', axis=1)

In [29]:
new_df = df[['created_at','created_at_i','url','objectID','author','points', 'title', 'num_comments']]
new_df

,created_at,created_at_i,url,objectID,author,points,title,num_comments
0,2014-05-29T08:25:40Z,1401351940,https://duckduckgo.com/settings,7815290,TuxLyn,1,DuckDuckGo Settings,0
1,2014-05-29T08:23:46Z,1401351826,http://bits.blogs.nytimes.com/2014/05/28/makin...,7815285,Leynos,1,Making Twitter Easier to Use,0
2,2014-05-29T08:21:56Z,1401351716,http://www.bbc.co.uk/news/technology-27617079,7815279,darrhiggs,2,London refers Uber app row to High Court,0
3,2014-05-29T08:18:42Z,1401351522,http://nomination.younggloballeaders.org/nomin...,7815274,a159482a,1,"Young Global Leaders, who should be nominated...",1
4,2014-05-29T08:17:30Z,1401351450,https://blooki.st,7815273,johngorse,1,Blooki.st goes BETA in a few hours,0
...,...,...,...,...,...,...,...,...
107499,2014-01-01T00:17:03Z,1388535423,,6993561,rectangletangle,8,Ask HN: What would it take for you to switch t...,13
107500,2014-01-01T00:11:06Z,1388535066,http://ghiraldelli.pro.br/jesus-e-eu/,6993544,maurorm,1,Jesus e eu,0
107501,2014-01-01T00:06:59Z,1388534819,,6993536,yeukhon,1,Mozilla end-of-year fundraising jumps from $75...,0
107502,2014-01-01T00:04:31Z,1388534671,http://blog.standardanalytics.io/post/introduc...,6993533,matherb,2,Introducing Standard Analytics IO,0
107503,2014-01-01T00:01:00Z,1388534460,http://twistedoakstudios.com/blog/Post8565_col...,6993523,Strilanc,1,Collection Equality is Hard,0

In [30]:
def create_new_df(df, col_list):
    new_df = df[col_list]
    return new_df

In [31]:
max_points=new_df[new_df['points'] > 50]

In [32]:
max_points

,created_at,created_at_i,url,objectID,author,points,title,num_comments
70,2014-05-29T04:27:42Z,1401337662,http://krebsonsecurity.com/2014/05/true-goodby...,7814725,panarky,60,True Goodbye: â€˜Using TrueCrypt Is Not Secureâ€™,23
76,2014-05-29T03:51:01Z,1401335461,http://projects.aljazeera.com/2014/portrait-of...,7814608,mr_tyzic,161,For Hire: Dedicated Young Man With Down Syndrome,27
91,2014-05-29T02:59:12Z,1401332352,http://www.damninteresting.com/absolute-zero-i...,7814466,jqm,92,Absolute Zero,19
124,2014-05-29T01:36:05Z,1401327365,http://priceonomics.com/joshua-norton-emperor-...,7814140,harris11,52,"Joshua Norton, Emperor of the United States",14
137,2014-05-29T00:59:30Z,1401325170,http://www.nytimes.com/2014/05/29/technology/p...,7814005,adriand,55,The Soylent Revolution Will Not Be Pleasurable,157
...,...,...,...,...,...,...,...,...
107436,2014-01-01T04:42:30Z,1388551350,http://www.neocomputer.org/projects/et/,6994180,tujv,131,Fixing E.T. The Extra-Terrestrial for the Atar...,12
107448,2014-01-01T03:34:45Z,1388547285,http://www.chrisfenton.com/2-stage-light-gas-gun/,6994010,luu,57,2-Stage Light Gas Gun,9
107451,2014-01-01T03:25:02Z,1388546702,https://www.aclu.org/national-security-technol...,6993995,frostmatthew,244,Court Rules No Suspicion Needed for Laptop Sea...,182
107455,2014-01-01T03:17:00Z,1388546220,,6993981,randall,141,Show HN: Our little bootstrapped startup is po...,43
107457,2014-01-01T03:07:05Z,1388545625,http://www.snapchatdb.info,6993968,lightcontact,380,Snapchat Phone Number Database Leaked,228

In [33]:
def filter_stories(df, col1, col2, col3, string):
    max_points=df[df[col1] > 50]
    one_comment_plus=max_points[max_points[col2]>1]
    filtered_df=one_comment_plus[~one_comment_plus[col3].str.startswith(string)]
    return filtered_df

In [34]:
filter_stories(new_df, 'points', 'num_comments', 'title', 'Ask HN')

,created_at,created_at_i,url,objectID,author,points,title,num_comments
70,2014-05-29T04:27:42Z,1401337662,http://krebsonsecurity.com/2014/05/true-goodby...,7814725,panarky,60,True Goodbye: â€˜Using TrueCrypt Is Not Secureâ€™,23
76,2014-05-29T03:51:01Z,1401335461,http://projects.aljazeera.com/2014/portrait-of...,7814608,mr_tyzic,161,For Hire: Dedicated Young Man With Down Syndrome,27
91,2014-05-29T02:59:12Z,1401332352,http://www.damninteresting.com/absolute-zero-i...,7814466,jqm,92,Absolute Zero,19
124,2014-05-29T01:36:05Z,1401327365,http://priceonomics.com/joshua-norton-emperor-...,7814140,harris11,52,"Joshua Norton, Emperor of the United States",14
137,2014-05-29T00:59:30Z,1401325170,http://www.nytimes.com/2014/05/29/technology/p...,7814005,adriand,55,The Soylent Revolution Will Not Be Pleasurable,157
...,...,...,...,...,...,...,...,...
107436,2014-01-01T04:42:30Z,1388551350,http://www.neocomputer.org/projects/et/,6994180,tujv,131,Fixing E.T. The Extra-Terrestrial for the Atar...,12
107448,2014-01-01T03:34:45Z,1388547285,http://www.chrisfenton.com/2-stage-light-gas-gun/,6994010,luu,57,2-Stage Light Gas Gun,9
107451,2014-01-01T03:25:02Z,1388546702,https://www.aclu.org/national-security-technol...,6993995,frostmatthew,244,Court Rules No Suspicion Needed for Laptop Sea...,182
107455,2014-01-01T03:17:00Z,1388546220,,6993981,randall,141,Show HN: Our little bootstrapped startup is po...,43
107457,2014-01-01T03:07:05Z,1388545625,http://www.snapchatdb.info,6993968,lightcontact,380,Snapchat Phone Number Database Leaked,228

In [35]:
one_comment_plus=max_points[max_points['num_comments']>1]

In [36]:
one_comment_plus

,created_at,created_at_i,url,objectID,author,points,title,num_comments
70,2014-05-29T04:27:42Z,1401337662,http://krebsonsecurity.com/2014/05/true-goodby...,7814725,panarky,60,True Goodbye: â€˜Using TrueCrypt Is Not Secureâ€™,23
76,2014-05-29T03:51:01Z,1401335461,http://projects.aljazeera.com/2014/portrait-of...,7814608,mr_tyzic,161,For Hire: Dedicated Young Man With Down Syndrome,27
91,2014-05-29T02:59:12Z,1401332352,http://www.damninteresting.com/absolute-zero-i...,7814466,jqm,92,Absolute Zero,19
124,2014-05-29T01:36:05Z,1401327365,http://priceonomics.com/joshua-norton-emperor-...,7814140,harris11,52,"Joshua Norton, Emperor of the United States",14
137,2014-05-29T00:59:30Z,1401325170,http://www.nytimes.com/2014/05/29/technology/p...,7814005,adriand,55,The Soylent Revolution Will Not Be Pleasurable,157
...,...,...,...,...,...,...,...,...
107436,2014-01-01T04:42:30Z,1388551350,http://www.neocomputer.org/projects/et/,6994180,tujv,131,Fixing E.T. The Extra-Terrestrial for the Atar...,12
107448,2014-01-01T03:34:45Z,1388547285,http://www.chrisfenton.com/2-stage-light-gas-gun/,6994010,luu,57,2-Stage Light Gas Gun,9
107451,2014-01-01T03:25:02Z,1388546702,https://www.aclu.org/national-security-technol...,6993995,frostmatthew,244,Court Rules No Suspicion Needed for Laptop Sea...,182
107455,2014-01-01T03:17:00Z,1388546220,,6993981,randall,141,Show HN: Our little bootstrapped startup is po...,43
107457,2014-01-01T03:07:05Z,1388545625,http://www.snapchatdb.info,6993968,lightcontact,380,Snapchat Phone Number Database Leaked,228

In [37]:
df['title']

0                                       DuckDuckGo Settings
1                              Making Twitter Easier to Use
2                  London refers Uber app row to High Court
3          Young Global Leaders, who should be nominated...
4                        Blooki.st goes BETA in a few hours
                                ...
107499    Ask HN: What would it take for you to switch t...
107500                                           Jesus e eu
107501    Mozilla end-of-year fundraising jumps from $75...
107502                    Introducing Standard Analytics IO
107503                          Collection Equality is Hard
Name: title, Length: 107504, dtype: object

In [38]:
filtered_df=one_comment_plus[~one_comment_plus['title'].str.startswith("Ask HN")]

In [39]:
filtered_df

,created_at,created_at_i,url,objectID,author,points,title,num_comments
70,2014-05-29T04:27:42Z,1401337662,http://krebsonsecurity.com/2014/05/true-goodby...,7814725,panarky,60,True Goodbye: â€˜Using TrueCrypt Is Not Secureâ€™,23
76,2014-05-29T03:51:01Z,1401335461,http://projects.aljazeera.com/2014/portrait-of...,7814608,mr_tyzic,161,For Hire: Dedicated Young Man With Down Syndrome,27
91,2014-05-29T02:59:12Z,1401332352,http://www.damninteresting.com/absolute-zero-i...,7814466,jqm,92,Absolute Zero,19
124,2014-05-29T01:36:05Z,1401327365,http://priceonomics.com/joshua-norton-emperor-...,7814140,harris11,52,"Joshua Norton, Emperor of the United States",14
137,2014-05-29T00:59:30Z,1401325170,http://www.nytimes.com/2014/05/29/technology/p...,7814005,adriand,55,The Soylent Revolution Will Not Be Pleasurable,157
...,...,...,...,...,...,...,...,...
107436,2014-01-01T04:42:30Z,1388551350,http://www.neocomputer.org/projects/et/,6994180,tujv,131,Fixing E.T. The Extra-Terrestrial for the Atar...,12
107448,2014-01-01T03:34:45Z,1388547285,http://www.chrisfenton.com/2-stage-light-gas-gun/,6994010,luu,57,2-Stage Light Gas Gun,9
107451,2014-01-01T03:25:02Z,1388546702,https://www.aclu.org/national-security-technol...,6993995,frostmatthew,244,Court Rules No Suspicion Needed for Laptop Sea...,182
107455,2014-01-01T03:17:00Z,1388546220,,6993981,randall,141,Show HN: Our little bootstrapped startup is po...,43
107457,2014-01-01T03:07:05Z,1388545625,http://www.snapchatdb.info,6993968,lightcontact,380,Snapchat Phone Number Database Leaked,228

In [40]:
filtered_df['title']

70            True Goodbye: â€˜Using TrueCrypt Is Not Secureâ€™
76         For Hire: Dedicated Young Man With Down Syndrome
91                                            Absolute Zero
124             Joshua Norton, Emperor of the United States
137          The Soylent Revolution Will Not Be Pleasurable
                                ...
107436    Fixing E.T. The Extra-Terrestrial for the Atar...
107448                                2-Stage Light Gas Gun
107451    Court Rules No Suspicion Needed for Laptop Sea...
107455    Show HN: Our little bootstrapped startup is po...
107457                Snapchat Phone Number Database Leaked
Name: title, Length: 5978, dtype: object

In [41]:
filtered_df.to_csv('Hacker_News')

In [42]:
pd.read_csv('Hacker_News')

,Unnamed: 0,created_at,created_at_i,url,objectID,author,points,title,num_comments
0,70,2014-05-29T04:27:42Z,1401337662,http://krebsonsecurity.com/2014/05/true-goodby...,7814725,panarky,60,True Goodbye: â€˜Using TrueCrypt Is Not Secureâ€™,23
1,76,2014-05-29T03:51:01Z,1401335461,http://projects.aljazeera.com/2014/portrait-of...,7814608,mr_tyzic,161,For Hire: Dedicated Young Man With Down Syndrome,27
2,91,2014-05-29T02:59:12Z,1401332352,http://www.damninteresting.com/absolute-zero-i...,7814466,jqm,92,Absolute Zero,19
3,124,2014-05-29T01:36:05Z,1401327365,http://priceonomics.com/joshua-norton-emperor-...,7814140,harris11,52,"Joshua Norton, Emperor of the United States",14
4,137,2014-05-29T00:59:30Z,1401325170,http://www.nytimes.com/2014/05/29/technology/p...,7814005,adriand,55,The Soylent Revolution Will Not Be Pleasurable,157
...,...,...,...,...,...,...,...,...,...
5973,107436,2014-01-01T04:42:30Z,1388551350,http://www.neocomputer.org/projects/et/,6994180,tujv,131,Fixing E.T. The Extra-Terrestrial for the Atar...,12
5974,107448,2014-01-01T03:34:45Z,1388547285,http://www.chrisfenton.com/2-stage-light-gas-gun/,6994010,luu,57,2-Stage Light Gas Gun,9
5975,107451,2014-01-01T03:25:02Z,1388546702,https://www.aclu.org/national-security-technol...,6993995,frostmatthew,244,Court Rules No Suspicion Needed for Laptop Sea...,182
5976,107455,2014-01-01T03:17:00Z,1388546220,NaN,6993981,randall,141,Show HN: Our little bootstrapped startup is po...,43
5977,107457,2014-01-01T03:07:05Z,1388545625,http://www.snapchatdb.info,6993968,lightcontact,380,Snapchat Phone Number Database Leaked,228

In [43]:
#del filtered_df['Unnamed:0']

In [44]:
#filtered_df = filtered_df.drop('Unnamed: 0', 1)

In [45]:
clean_df = pd.read_csv('Hacker_News', index_col=0)

In [46]:
clean_df

,created_at,created_at_i,url,objectID,author,points,title,num_comments
70,2014-05-29T04:27:42Z,1401337662,http://krebsonsecurity.com/2014/05/true-goodby...,7814725,panarky,60,True Goodbye: â€˜Using TrueCrypt Is Not Secureâ€™,23
76,2014-05-29T03:51:01Z,1401335461,http://projects.aljazeera.com/2014/portrait-of...,7814608,mr_tyzic,161,For Hire: Dedicated Young Man With Down Syndrome,27
91,2014-05-29T02:59:12Z,1401332352,http://www.damninteresting.com/absolute-zero-i...,7814466,jqm,92,Absolute Zero,19
124,2014-05-29T01:36:05Z,1401327365,http://priceonomics.com/joshua-norton-emperor-...,7814140,harris11,52,"Joshua Norton, Emperor of the United States",14
137,2014-05-29T00:59:30Z,1401325170,http://www.nytimes.com/2014/05/29/technology/p...,7814005,adriand,55,The Soylent Revolution Will Not Be Pleasurable,157
...,...,...,...,...,...,...,...,...
107436,2014-01-01T04:42:30Z,1388551350,http://www.neocomputer.org/projects/et/,6994180,tujv,131,Fixing E.T. The Extra-Terrestrial for the Atar...,12
107448,2014-01-01T03:34:45Z,1388547285,http://www.chrisfenton.com/2-stage-light-gas-gun/,6994010,luu,57,2-Stage Light Gas Gun,9
107451,2014-01-01T03:25:02Z,1388546702,https://www.aclu.org/national-security-technol...,6993995,frostmatthew,244,Court Rules No Suspicion Needed for Laptop Sea...,182
107455,2014-01-01T03:17:00Z,1388546220,NaN,6993981,randall,141,Show HN: Our little bootstrapped startup is po...,43
107457,2014-01-01T03:07:05Z,1388545625,http://www.snapchatdb.info,6993968,lightcontact,380,Snapchat Phone Number Database Leaked,228

In [47]:
clean_df['created_at'] = pd.to_datetime(clean_df['created_at'])

In [48]:
clean_df

,created_at,created_at_i,url,objectID,author,points,title,num_comments
70,2014-05-29 04:27:42+00:00,1401337662,http://krebsonsecurity.com/2014/05/true-goodby...,7814725,panarky,60,True Goodbye: â€˜Using TrueCrypt Is Not Secureâ€™,23
76,2014-05-29 03:51:01+00:00,1401335461,http://projects.aljazeera.com/2014/portrait-of...,7814608,mr_tyzic,161,For Hire: Dedicated Young Man With Down Syndrome,27
91,2014-05-29 02:59:12+00:00,1401332352,http://www.damninteresting.com/absolute-zero-i...,7814466,jqm,92,Absolute Zero,19
124,2014-05-29 01:36:05+00:00,1401327365,http://priceonomics.com/joshua-norton-emperor-...,7814140,harris11,52,"Joshua Norton, Emperor of the United States",14
137,2014-05-29 00:59:30+00:00,1401325170,http://www.nytimes.com/2014/05/29/technology/p...,7814005,adriand,55,The Soylent Revolution Will Not Be Pleasurable,157
...,...,...,...,...,...,...,...,...
107436,2014-01-01 04:42:30+00:00,1388551350,http://www.neocomputer.org/projects/et/,6994180,tujv,131,Fixing E.T. The Extra-Terrestrial for the Atar...,12
107448,2014-01-01 03:34:45+00:00,1388547285,http://www.chrisfenton.com/2-stage-light-gas-gun/,6994010,luu,57,2-Stage Light Gas Gun,9
107451,2014-01-01 03:25:02+00:00,1388546702,https://www.aclu.org/national-security-technol...,6993995,frostmatthew,244,Court Rules No Suspicion Needed for Laptop Sea...,182
107455,2014-01-01 03:17:00+00:00,1388546220,NaN,6993981,randall,141,Show HN: Our little bootstrapped startup is po...,43
107457,2014-01-01 03:07:05+00:00,1388545625,http://www.snapchatdb.info,6993968,lightcontact,380,Snapchat Phone Number Database Leaked,228

In [49]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5978 entries, 70 to 107457
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   created_at    5978 non-null   datetime64[ns, UTC]
 1   created_at_i  5978 non-null   int64
 2   url           5919 non-null   object
 3   objectID      5978 non-null   int64
 4   author        5978 non-null   object
 5   points        5978 non-null   int64
 6   title         5978 non-null   object
 7   num_comments  5978 non-null   int64
dtypes: datetime64[ns, UTC](1), int64(4), object(3)
memory usage: 420.3+ KB

In [50]:
def json_to_csv(df, df2, col1, csv_name):
    df.to_csv(csv_name)
    df2 = pd.read_csv(csv_name, index_col=0)
    df2[col1] = pd.to_datetime(df2[col1])
    return df2

In [51]:
json_to_csv(filtered_df, clean_df, 'created_at', 'Hacker_News.csv')

,created_at,created_at_i,url,objectID,author,points,title,num_comments
70,2014-05-29 04:27:42+00:00,1401337662,http://krebsonsecurity.com/2014/05/true-goodby...,7814725,panarky,60,True Goodbye: â€˜Using TrueCrypt Is Not Secureâ€™,23
76,2014-05-29 03:51:01+00:00,1401335461,http://projects.aljazeera.com/2014/portrait-of...,7814608,mr_tyzic,161,For Hire: Dedicated Young Man With Down Syndrome,27
91,2014-05-29 02:59:12+00:00,1401332352,http://www.damninteresting.com/absolute-zero-i...,7814466,jqm,92,Absolute Zero,19
124,2014-05-29 01:36:05+00:00,1401327365,http://priceonomics.com/joshua-norton-emperor-...,7814140,harris11,52,"Joshua Norton, Emperor of the United States",14
137,2014-05-29 00:59:30+00:00,1401325170,http://www.nytimes.com/2014/05/29/technology/p...,7814005,adriand,55,The Soylent Revolution Will Not Be Pleasurable,157
...,...,...,...,...,...,...,...,...
107436,2014-01-01 04:42:30+00:00,1388551350,http://www.neocomputer.org/projects/et/,6994180,tujv,131,Fixing E.T. The Extra-Terrestrial for the Atar...,12
107448,2014-01-01 03:34:45+00:00,1388547285,http://www.chrisfenton.com/2-stage-light-gas-gun/,6994010,luu,57,2-Stage Light Gas Gun,9
107451,2014-01-01 03:25:02+00:00,1388546702,https://www.aclu.org/national-security-technol...,6993995,frostmatthew,244,Court Rules No Suspicion Needed for Laptop Sea...,182
107455,2014-01-01 03:17:00+00:00,1388546220,NaN,6993981,randall,141,Show HN: Our little bootstrapped startup is po...,43
107457,2014-01-01 03:07:05+00:00,1388545625,http://www.snapchatdb.info,6993968,lightcontact,380,Snapchat Phone Number Database Leaked,228

In [52]:
# clean_df = clean_df[titles]
# df = df[["Column Name","Column Name2"]]
# new_dataframe = dataframe. filter(['col_name_1', 'col_name_2'])

In [53]:
new_clean_df = clean_df.filter(['title'])
new_clean_df

                                                    title
70          True Goodbye: â€˜Using TrueCrypt Is Not Secureâ€™
76       For Hire: Dedicated Young Man With Down Syndrome
91                                          Absolute Zero
124           Joshua Norton, Emperor of the United States
137        The Soylent Revolution Will Not Be Pleasurable
...                                                   ...
107436  Fixing E.T. The Extra-Terrestrial for the Atar...
107448                              2-Stage Light Gas Gun
107451  Court Rules No Suspicion Needed for Laptop Sea...
107455  Show HN: Our little bootstrapped startup is po...
107457              Snapchat Phone Number Database Leaked

[5978 rows x 1 columns]

In [54]:
def extract_titles(df, col_name):
    new_df = df. filter(['col_name'])
    return new_df

In [55]:
extract_titles(clean_df, 'title')

Empty DataFrame
Columns: []
Index: [70, 76, 91, 124, 137, 152, 197, 199, 205, 219, 244, 262, 269, 297, 325, 334, 394, 423, 426, 434, 446, 470, 519, 521, 554, 556, 561, 600, 638, 640, 643, 652, 716, 745, 781, 782, 785, 834, 844, 850, 920, 926, 955, 960, 1031, 1039, 1044, 1051, 1097, 1102, 1125, 1130, 1161, 1167, 1185, 1189, 1201, 1205, 1243, 1248, 1261, 1269, 1284, 1293, 1326, 1327, 1330, 1332, 1337, 1353, 1370, 1456, 1459, 1477, 1527, 1539, 1589, 1612, 1624, 1644, 1647, 1665, 1674, 1680, 1694, 1700, 1701, 1736, 1761, 1769, 1801, 1802, 1818, 1821, 1827, 1832, 1860, 1879, 1881, 1887, ...]

[5978 rows x 0 columns]

In [56]:
def extract_titles(df, col):
    titles = df[col]
    yield (titles)

In [57]:
titles=extract_titles(clean_df, 'titles')
titles

In [58]:
#cleaning titles
clean_df['title']=clean_df['title'].str.lower()

In [59]:
clean_df

,created_at,created_at_i,url,objectID,author,points,title,num_comments
70,2014-05-29 04:27:42+00:00,1401337662,http://krebsonsecurity.com/2014/05/true-goodby...,7814725,panarky,60,true goodbye: â€˜using truecrypt is not secureâ€™,23
76,2014-05-29 03:51:01+00:00,1401335461,http://projects.aljazeera.com/2014/portrait-of...,7814608,mr_tyzic,161,for hire: dedicated young man with down syndrome,27
91,2014-05-29 02:59:12+00:00,1401332352,http://www.damninteresting.com/absolute-zero-i...,7814466,jqm,92,absolute zero,19
124,2014-05-29 01:36:05+00:00,1401327365,http://priceonomics.com/joshua-norton-emperor-...,7814140,harris11,52,"joshua norton, emperor of the united states",14
137,2014-05-29 00:59:30+00:00,1401325170,http://www.nytimes.com/2014/05/29/technology/p...,7814005,adriand,55,the soylent revolution will not be pleasurable,157
...,...,...,...,...,...,...,...,...
107436,2014-01-01 04:42:30+00:00,1388551350,http://www.neocomputer.org/projects/et/,6994180,tujv,131,fixing e.t. the extra-terrestrial for the atar...,12
107448,2014-01-01 03:34:45+00:00,1388547285,http://www.chrisfenton.com/2-stage-light-gas-gun/,6994010,luu,57,2-stage light gas gun,9
107451,2014-01-01 03:25:02+00:00,1388546702,https://www.aclu.org/national-security-technol...,6993995,frostmatthew,244,court rules no suspicion needed for laptop sea...,182
107455,2014-01-01 03:17:00+00:00,1388546220,NaN,6993981,randall,141,show hn: our little bootstrapped startup is po...,43
107457,2014-01-01 03:07:05+00:00,1388545625,http://www.snapchatdb.info,6993968,lightcontact,380,snapchat phone number database leaked,228

In [60]:
clean_df['titles'] = clean_df['title'].str.replace('[^\w\s]','')

<ipython-input-60-dc6a4a41be06>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  clean_df['titles'] = clean_df['title'].str.replace('[^\w\s]','')

In [61]:
clean_df

,created_at,created_at_i,url,objectID,author,points,title,num_comments,titles
70,2014-05-29 04:27:42+00:00,1401337662,http://krebsonsecurity.com/2014/05/true-goodby...,7814725,panarky,60,true goodbye: â€˜using truecrypt is not secureâ€™,23,true goodbye using truecrypt is not secure
76,2014-05-29 03:51:01+00:00,1401335461,http://projects.aljazeera.com/2014/portrait-of...,7814608,mr_tyzic,161,for hire: dedicated young man with down syndrome,27,for hire dedicated young man with down syndrome
91,2014-05-29 02:59:12+00:00,1401332352,http://www.damninteresting.com/absolute-zero-i...,7814466,jqm,92,absolute zero,19,absolute zero
124,2014-05-29 01:36:05+00:00,1401327365,http://priceonomics.com/joshua-norton-emperor-...,7814140,harris11,52,"joshua norton, emperor of the united states",14,joshua norton emperor of the united states
137,2014-05-29 00:59:30+00:00,1401325170,http://www.nytimes.com/2014/05/29/technology/p...,7814005,adriand,55,the soylent revolution will not be pleasurable,157,the soylent revolution will not be pleasurable
...,...,...,...,...,...,...,...,...,...
107436,2014-01-01 04:42:30+00:00,1388551350,http://www.neocomputer.org/projects/et/,6994180,tujv,131,fixing e.t. the extra-terrestrial for the atar...,12,fixing et the extraterrestrial for the atari 2600
107448,2014-01-01 03:34:45+00:00,1388547285,http://www.chrisfenton.com/2-stage-light-gas-gun/,6994010,luu,57,2-stage light gas gun,9,2stage light gas gun
107451,2014-01-01 03:25:02+00:00,1388546702,https://www.aclu.org/national-security-technol...,6993995,frostmatthew,244,court rules no suspicion needed for laptop sea...,182,court rules no suspicion needed for laptop sea...
107455,2014-01-01 03:17:00+00:00,1388546220,NaN,6993981,randall,141,show hn: our little bootstrapped startup is po...,43,show hn our little bootstrapped startup is pow...
107457,2014-01-01 03:07:05+00:00,1388545625,http://www.snapchatdb.info,6993968,lightcontact,380,snapchat phone number database leaked,228,snapchat phone number database leaked

In [62]:
def clean_titles(df, col):
    df[col]=df[col].str.lower()
    df[col] = df[col].str.replace('[^\w\s]','')
    return new_df

In [63]:
clean_titles(clean_df, 'titles')

<ipython-input-62-0c4c4c73cd41>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df[col] = df[col].str.replace('[^\w\s]','')

,created_at,created_at_i,url,objectID,author,points,title,num_comments
0,2014-05-29T08:25:40Z,1401351940,https://duckduckgo.com/settings,7815290,TuxLyn,1,DuckDuckGo Settings,0
1,2014-05-29T08:23:46Z,1401351826,http://bits.blogs.nytimes.com/2014/05/28/makin...,7815285,Leynos,1,Making Twitter Easier to Use,0
2,2014-05-29T08:21:56Z,1401351716,http://www.bbc.co.uk/news/technology-27617079,7815279,darrhiggs,2,London refers Uber app row to High Court,0
3,2014-05-29T08:18:42Z,1401351522,http://nomination.younggloballeaders.org/nomin...,7815274,a159482a,1,"Young Global Leaders, who should be nominated...",1
4,2014-05-29T08:17:30Z,1401351450,https://blooki.st,7815273,johngorse,1,Blooki.st goes BETA in a few hours,0
...,...,...,...,...,...,...,...,...
107499,2014-01-01T00:17:03Z,1388535423,,6993561,rectangletangle,8,Ask HN: What would it take for you to switch t...,13
107500,2014-01-01T00:11:06Z,1388535066,http://ghiraldelli.pro.br/jesus-e-eu/,6993544,maurorm,1,Jesus e eu,0
107501,2014-01-01T00:06:59Z,1388534819,,6993536,yeukhon,1,Mozilla end-of-year fundraising jumps from $75...,0
107502,2014-01-01T00:04:31Z,1388534671,http://blog.standardanalytics.io/post/introduc...,6993533,matherb,2,Introducing Standard Analytics IO,0
107503,2014-01-01T00:01:00Z,1388534460,http://twistedoakstudios.com/blog/Post8565_col...,6993523,Strilanc,1,Collection Equality is Hard,0

In [64]:
# def clean_titles(df, col):
#     df[col] = df[col].astype(str)
#     df[col] = df[col].str.replace('[{}]'.format(string.punctuation), '')
#     return df
# clean_titles(clean_df, 'title')

In [65]:
from stop_words import stop_words

In [66]:
#series = clean_df.Text.str.split(expand=True).stack().value_counts()

In [67]:
# from collections import Counter
# from itertools import chain

# counter = Counter(chain.from_iterable(map(str.split, clean_df.Text.tolist())))

In [68]:
#series = pd.Series(counter).sort_values(ascending=False)

In [69]:
count = clean_df['titles'].value_counts()

In [70]:
count

this week in rust                                               3
was y combinator worth it                                       2
implementing a jit compiled language with haskell and llvm      2
blackphone                                                      2
microsoft announces the surface pro 3                           2
                                                               ..
show hn a developersonly news site you join via pull request    1
rip captain jerry roberts  bletchley park codebreaker           1
rendering head in webgl                                         1
linux difference between devconsole  devtty and devtty0         1
technichi macbook subscription service                          1
Name: titles, Length: 5954, dtype: int64

In [71]:
# count2 = clean_df.groupby(['titles']).count()
# count2

In [72]:
count3 = clean_df.groupby(['titles']).size()
count3

titles
 92 facebook apps have access to my account                                 1
 amazon sales take a hit in states with online tax                          1
 apple developer indifference                                               1
 critical crypto bug leaves linux hundreds of apps open to eavesdropping    1
 daniels review of flash boys a wall street revolt                          1
                                                                           ..
zuckerberg expresses frustration over surveillance                          1
zuckerberg musk invest in artificialintelligence company vicarious          1
zx spectrum devs claim missing royalties from elite systems                 1
zynga buys naturalmotion for 527m                                           1
zynga lays off 15 of its workforce                                          1
Length: 5954, dtype: int64

In [73]:
str='This is my book'
str.split()

['This', 'is', 'my', 'book']

In [74]:
# for row in clean_df['titles']:
#     each = each
#     str.split()


#x = txt.split()

In [75]:
clean_df['titles']

70               true goodbye using truecrypt is not secure
76          for hire dedicated young man with down syndrome
91                                            absolute zero
124              joshua norton emperor of the united states
137          the soylent revolution will not be pleasurable
                                ...
107436    fixing et the extraterrestrial for the atari 2600
107448                                 2stage light gas gun
107451    court rules no suspicion needed for laptop sea...
107455    show hn our little bootstrapped startup is pow...
107457                snapchat phone number database leaked
Name: titles, Length: 5978, dtype: object

In [76]:
from stop_words import stop_words

In [77]:
def build_keyword_dictionary(clean_df):
    word_freq_count = {}
   
    for index, row in clean_df.iterrows():
        word_list = row['titles'].split(' ')
        for word in word_list:
            if word in word_freq_count:
                word_freq_count[word]+=1
            else:
                if word not in stop_words:
                    word_freq_count[word]=1
    return word_freq_count
        #print(index, row['titles'])

In [78]:
dict_count=build_keyword_dictionary(clean_df)

In [79]:
def build_keyword_dictionary(df, col):
    word_dictionary = {}
    for index, row in df.iterrows():
        word_list = row[col].split(' ')
        for word in word_list:
            if word in word_dictionary:
                word_dictionary[word]+=1
            else:
                if word not in stop_words:
                    word_dictionary[word]=1
    return word_dictionary

In [80]:
dict_count=build_keyword_dictionary(clean_df, 'titles')

In [81]:
sorted_dict = sorted(dict_count.items(), key=lambda x: x[1], reverse=True)[:99]
for i in sorted_dict:
    print(i[0], i[1])

 535
new 185
google 167
bitcoin 101
open 93
programming 90
web 89
data 86
video 79
python 75
facebook 72
code 72
using 71
released 71
2013 65
javascript 65
free 64
game 64
source 64
internet 63
microsoft 59
linux 59
c 59
app 58
dont 57
pdf 55
work 54
language 54
software 52
2014 52
startup 51
apple 50
use 50
make 50
time 48
yc 48
security 48
nsa 45
github 45
windows 44
1 41
world 41
way 41
like 41
heartbleed 41
project 40
computer 40
git 37
users 37
twitter 37
design 37
ios 37
developer 36
os 36
ceo 36
vs 36
big 36
life 36
day 35
android 34
simple 34
online 34
years 33
court 33
guide 32
learning 32
mt 32
api 32
says 32
apps 32
browser 32
server 31
firefox 31
fast 31
gox 31
problem 31
mozilla 31
engine 31
site 31
introducing 30
amazon 30
year 30
support 29
stop 29
built 29
better 29
million 29
people 29
text 29
3 28
does 28
tech 28
development 28
billion 27
developers 27
just 27
library 27
did 27
website 27

In [82]:
def sort_dict(df):
    sorted_dict = sorted(dict_count.items(), key=lambda x: x[1], reverse=True)[:99]
    for i in sorted_dict:
        print(i[0], i[1])

In [83]:
sort_dict(clean_df)

 535
new 185
google 167
bitcoin 101
open 93
programming 90
web 89
data 86
video 79
python 75
facebook 72
code 72
using 71
released 71
2013 65
javascript 65
free 64
game 64
source 64
internet 63
microsoft 59
linux 59
c 59
app 58
dont 57
pdf 55
work 54
language 54
software 52
2014 52
startup 51
apple 50
use 50
make 50
time 48
yc 48
security 48
nsa 45
github 45
windows 44
1 41
world 41
way 41
like 41
heartbleed 41
project 40
computer 40
git 37
users 37
twitter 37
design 37
ios 37
developer 36
os 36
ceo 36
vs 36
big 36
life 36
day 35
android 34
simple 34
online 34
years 33
court 33
guide 32
learning 32
mt 32
api 32
says 32
apps 32
browser 32
server 31
firefox 31
fast 31
gox 31
problem 31
mozilla 31
engine 31
site 31
introducing 30
amazon 30
year 30
support 29
stop 29
built 29
better 29
million 29
people 29
text 29
3 28
does 28
tech 28
development 28
billion 27
developers 27
just 27
library 27
did 27
website 27

In [84]:
#tuple_list = list(sorted_dict.items())

In [85]:
def convert(list):
    return tuple(list)
list = [1, 2, 3, 4]
print(convert(list))

(1, 2, 3, 4)

In [86]:
def convert(sorted_dict):
    return tuple(sorted_dict)

In [87]:
convert(sorted_dict)

(('', 535),
 ('new', 185),
 ('google', 167),
 ('bitcoin', 101),
 ('open', 93),
 ('programming', 90),
 ('web', 89),
 ('data', 86),
 ('video', 79),
 ('python', 75),
 ('facebook', 72),
 ('code', 72),
 ('using', 71),
 ('released', 71),
 ('2013', 65),
 ('javascript', 65),
 ('free', 64),
 ('game', 64),
 ('source', 64),
 ('internet', 63),
 ('microsoft', 59),
 ('linux', 59),
 ('c', 59),
 ('app', 58),
 ('dont', 57),
 ('pdf', 55),
 ('work', 54),
 ('language', 54),
 ('software', 52),
 ('2014', 52),
 ('startup', 51),
 ('apple', 50),
 ('use', 50),
 ('make', 50),
 ('time', 48),
 ('yc', 48),
 ('security', 48),
 ('nsa', 45),
 ('github', 45),
 ('windows', 44),
 ('1', 41),
 ('world', 41),
 ('way', 41),
 ('like', 41),
 ('heartbleed', 41),
 ('project', 40),
 ('computer', 40),
 ('git', 37),
 ('users', 37),
 ('twitter', 37),
 ('design', 37),
 ('ios', 37),
 ('developer', 36),
 ('os', 36),
 ('ceo', 36),
 ('vs', 36),
 ('big', 36),
 ('life', 36),
 ('day', 35),
 ('android', 34),
 ('simple', 34),
 ('online', 34),
 ('years', 33),
 ('court', 33),
 ('guide', 32),
 ('learning', 32),
 ('mt', 32),
 ('api', 32),
 ('says', 32),
 ('apps', 32),
 ('browser', 32),
 ('server', 31),
 ('firefox', 31),
 ('fast', 31),
 ('gox', 31),
 ('problem', 31),
 ('mozilla', 31),
 ('engine', 31),
 ('site', 31),
 ('introducing', 30),
 ('amazon', 30),
 ('year', 30),
 ('support', 29),
 ('stop', 29),
 ('built', 29),
 ('better', 29),
 ('million', 29),
 ('people', 29),
 ('text', 29),
 ('3', 28),
 ('does', 28),
 ('tech', 28),
 ('development', 28),
 ('billion', 27),
 ('developers', 27),
 ('just', 27),
 ('library', 27),
 ('did', 27),
 ('website', 27))

In [ ]:
#pipeline is a list of lists.  list is a structure that is defined, it's a structure that is set and we can index it and can reference it that way. 
#this takes less memory as a json than a proper DF.